html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}
.landing-page {
    background: url('/img/halloweepicture.jpg') no-repeat center center fixed;
    background-size: cover;
    position: relative;
    height: 100vh;
    width: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Dark gradient overlay */
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome-message {
    animation: slideIn 1s ease-out;
}

.welcome-button {
    animation: fadeIn 2s ease-in;
}

@keyframes slideIn {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
.img-container {
    padding: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
}

.img-padding {
    margin-bottom: 150px;
}
.bg-grey {
    background-color: lightgray;
}