@using Microsoft.AspNetCore.Components.Web

<div class="landing-page">
    <div class="overlay">
        <div class="container-fluid vh-100 d-flex justify-content-center align-items-center">
            <div class="text-center text-white">
                <h1 class="welcome-message">Welcome to SoCalSpooky</h1>
                <p class="lead mt-3">Discover our amazing products and services</p>
                <div class="mt-4">
                    <a asp-controller="Home" asp-action="Shop" class="btn btn-primary btn-lg me-2 welcome-button">
                         Products
                    </a>
                    <a asp-controller="Home" asp-action="Service" class="btn btn-primary me-2 btn-lg welcome-button">
                         Services
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

