@using Microsoft.AspNetCore.Components.Web

<div class="landing-page">
    <div class="overlay">
        <div class="container-fluid vh-100 d-flex justify-content-center align-items-center">
            <div class="text-center text-white">
                <h1 class="welcome-message">Welcome to SoCalSpooky</h1>
                <p class="lead mt-3">Discover our amazing products and services</p>
                <div class="mt-4">
                    <a asp-controller="Home" asp-action="Shop" class="btn btn-primary btn-lg me-2 welcome-button">
                         Products
                    </a>
                    <a asp-controller="Home" asp-action="Service" class="btn btn-primary me-2 btn-lg welcome-button">
                         Services
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class=" row d-flex justify-content-center mt-5">
        <div class="col-lg-7 col-md-7 col-sm-12 text-center">

            <h3 class="mt-2">Our Products</h3>
            <p>We offer a wide range of products for Halloween, including costumes, masks, decorations, and accessories. Whether you're looking for something spooky or stylish, we have everything you need to make your Halloween special.</p>
            <div class="mb-3">
                <a asp-controller="Home" asp-action="Shop" class="btn btn-primary btn-lg me-2 welcome-button">
                    Products
                </a>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-10">
            <div class="img-container">
                <img class="img-fluid w-100 " src="~/img/products.jpg" />
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class=" img-padding row d-flex justify-content-center mt-5 ">
        <div class="col-lg-4 col-md-4 col-sm-10 order-2 order-lg-1 order-md-1 order-sm-2">
            <div class="img-container">
                <img class="img-fluid w-100 " src="~/img/service.jpg" />
            </div>
        </div>
        <div class="col-lg-7 col-md-7 col-sm-12 text-center order-1  order-lg-2 order-md-2 order-sm-1">
            <h3 class="mt-2">Our Services</h3>
            <p>We offer a variety of services to make your Halloween unforgettable. From custom costume design to spooky home decor setup, our team is here to help you create the perfect Halloween atmosphere.</p>
            <div class="mb-3">
                <a asp-controller="Home" asp-action="Service" class="btn btn-primary me-2 btn-lg welcome-button">
                    Services
                </a>
            </div>
        </div>
    </div>
</div>